
    <table id="academic-table">
        <tr>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="animal-phys" type="checkbox" class="SEARCH" autocomplete="off"> Animal Physiology
                  </label>
            </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="anthropology" type="checkbox" class="SEARCH" autocomplete="off"> Anthropology
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="statistics" type="checkbox" class="SEARCH" autocomplete="off"> Statistics
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="mathematics" type="checkbox" class="SEARCH" autocomplete="off"> Mathematics
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="archaelogy" type="checkbox" class="SEARCH" autocomplete="off"> Archaelogy
                  </label>
                </td>
        </tr> 
        <tr>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="architect" type="checkbox" class="SEARCH" autocomplete="off"> Architectural Studies
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="art" type="checkbox" class="SEARCH" autocomplete="off"> Art and Art History
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="genetics" type="checkbox" class="SEARCH" autocomplete="off"> Behaviour, Genetics and Neurobiology
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="biochemistry" type="checkbox" class="SEARCH" autocomplete="off"> Biochemistry
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="ecology" type="checkbox" class="SEARCH" autocomplete="off"> Ecology
                  </label>
                </td>
        </tr> 
        <tr>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="biodiversity" type="checkbox"class="SEARCH"  autocomplete="off"> Biodiversity and Conservation Biology
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="bioethics" type="checkbox" class="SEARCH" autocomplete="off"> Bioethics
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="bioinformatics" type="checkbox" class="SEARCH" autocomplete="off"> Bioinformatics
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="compute-biology" type="checkbox" class="SEARCH" autocomplete="off"> Bioinformatics and Computational Biology
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="bio-chemistry" type="checkbox" class="SEARCH" autocomplete="off"> Biological Chemistry
                  </label>
                </td>
        </tr> 
        <tr>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="canadian" type="checkbox" class="SEARCH" autocomplete="off"> Canadian Studies
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="chemistry" type="checkbox" class="SEARCH" autocomplete="off"> Chemistry
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="cinema" type="checkbox" class="SEARCH" autocomplete="off"> Cinema Studies
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="christianity" type="checkbox" class="SEARCH" autocomplete="off"> Christianity and Culture
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="cognitive" type="checkbox" class="SEARCH" autocomplete="off"> Cognitive Science
                  </label>
                </td>
        </tr> 
        <tr>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="comp-sci" type="checkbox" class="SEARCH" autocomplete="off"> Computer Science
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="criminology" type="checkbox" class="SEARCH" autocomplete="off"> Criminology
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="biology" type="checkbox" class="SEARCH" autocomplete="off"> Biology
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="engineering" type="checkbox" class="SEARCH" autocomplete="off"> Engineering
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="linguistics" type="checkbox" class="SEARCH" autocomplete="off"> Linguistics
                  </label>
                </td>
        </tr>                            

    </table>