<!--Loading stylesheets ans scripts needed-->
<title>MentorRock</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Alex+Brush|Dancing+Script|Pacifico|Pinyon+Script|Tangerine" rel="stylesheet">
<link rel="stylesheet" href="assets/css/pe-icon-7-stroke/css/pe-icon-7-stroke.css">

<!-- Optional - Adds useful class to manipulate icon font display -->
<link rel="stylesheet" href="assets/css/pe-icon-7-stroke/css/helper.css">
<link rel="stylesheet" href="assets/css/autocomplete/jquery-ui.min.css">
<script src="jquery/autocomplete/jquery-ui.min.js"></script>

<!-- The styling for select chosen -->
<link rel="stylesheet" href="assets/css/chosen_css/style.css">
<link rel="stylesheet" href="assets/css/chosen_css/chosen.min.css">

<!--The custom style for the admin page-->
<link rel="stylesheet" type="text/css" href="assets/css/adminStyle.css">


