<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand fonts" href="/home2">MentorRock</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li id="manageUsers"><a  class="menu" href="/admin" ><span class="glyphicon glyphicon-home"></span> Users</a></li>
            <li id="addUsers"><a class="menu" href="/adduser"><span class="pe-7s-add-user pe-lg pe-va" aria-hidden="true"></span> Add User</a></li>
            <li id="addMentors"><a class="menu" href="/mentorrequest" ><span class="pe-7s-id pe-lg pe-va" aria-hidden="true"><i class="badge badge-notify" id="badgenum"></i></span> Mentor Request</a></li>
            <li id="manageMentors"><a class="menu" href="/managementors" ><span class="pe-7s-config pe-lg pe-va" aria-hidden="true"></span> Manage Mentors</a></li>
        </ul>

        <div class="col-sm-2 col-md-3">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search User" id="tags" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="searchUsers"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li id="logout"><a class="menu" href="/unlink/local-admin" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</div>
</nav>
