
<html>
    <head>
        <title>ERROR</title>    
    </head>

    <body>
        <h1>ERROR</h1>
        <p>Ooops, something with registration or login went wrong!</p>
        
        <a href="/login">Back to Login</a>
        <a href="/signup">Back to Signup</a>
    </body>

</html>