
    <!--INTERESTS TABLE: 
        Moved table from search-table.ejs for modularity -->
    <table id="interests-table">
        <tr>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="tennis" class="SEARCH" type="checkbox" autocomplete="off"> Tennis
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="swimming" class="SEARCH" type="checkbox" autocomplete="off"> Swimming
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="basketball" class="SEARCH" type="checkbox" autocomplete="off"> Basketball
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="baseball" class="SEARCH" type="checkbox" autocomplete="off"> Baseball
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="progrmaming" class="SEARCH" type="checkbox" autocomplete="off"> Programming
                  </label>
                </td>
        </tr>
        <tr>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="image-edit" class="SEARCH" type="checkbox" autocomplete="off"> Image Editing
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="blogging" class="SEARCH" type="checkbox" autocomplete="off"> Blogging
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="reading" class="SEARCH" type="checkbox" autocomplete="off"> Reading
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="writing" class="SEARCH" type="checkbox" autocomplete="off"> Writing
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="play-instr" class="SEARCH" type="checkbox" autocomplete="off"> Playing Instruments
                  </label>
                </td>
        </tr>
        <tr>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="piano" class="SEARCH" type="checkbox" autocomplete="off"> Piano
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="violin" class="SEARCH" type="checkbox" autocomplete="off"> Violin
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="olympics" class="SEARCH" type="checkbox" autocomplete="off"> Olympics
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="teaching" class="SEARCH" type="checkbox" autocomplete="off"> Teaching
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="volunteering" class="SEARCH"  type="checkbox" autocomplete="off"> Volunteering
                  </label>
                </td>
        </tr>
        <tr>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="cooking" class="SEARCH" type="checkbox" autocomplete="off"> Cooking
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="cleaning" class="SEARCH" type="checkbox" autocomplete="off"> Cleaning
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="gardening" class="SEARCH" type="checkbox" autocomplete="off"> Gardening
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="arts-crafts" class="SEARCH" type="checkbox" autocomplete="off"> Arts and Crafts
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="forestry" class="SEARCH" type="checkbox" autocomplete="off"> Forestry
                  </label>
            </td>
        </tr>
        <tr>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="beauty" type="checkbox" autocomplete="off"> Makeup and Beauty
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="birdwatch" type="checkbox" autocomplete="off"> Birdwatching
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="walking" type="checkbox" autocomplete="off"> Walking
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="cosplaying" type="checkbox" autocomplete="off"> Cosplaying
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="origami" type="checkbox" autocomplete="off"> Origami
                  </label>
                </td>
        </tr>
        <tr>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="gaming" type="checkbox" autocomplete="off"> Video Gaming
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="flower-arrange" type="checkbox" autocomplete="off"> Flower Arranging
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="yoga" type="checkbox" autocomplete="off"> Yoga
                  </label>
                </td>
            <td class="patt-one">
                <label class="btn btn-primary">
                    <input id="modeling" type="checkbox" autocomplete="off"> Modeling
                  </label>
                </td>
            <td class="patt-two">
                <label class="btn btn-primary">
                    <input id="magic" type="checkbox" autocomplete="off"> Magic
                  </label>
                </td>
        </tr>                      
    </table>