<!doctype html>
<html lang="en">
<head>
    <!-- Importing the main-style headers -->
    <% include ../../partials/register-header %> 

</head>

<body>
    <!-- TOP NAVIGATION BAR-->
    <% include ../../partials/navigation %>

<div class="main">
    <div class="container tim-container" style="max-width:800px; width = 80%; padding-top:50px">
      <h1 class="text-center"> <br> Sign Up<small class="subtitle">write anything you want</small></h1>
        <!--     end extras -->
	    <div class="row">   
		    <div class="form-group col-xs-8 col-xs-push-2">
				<label class="control-label">User Name</label>
				<div class="inner-addon left-addon">
				<i class="fa fa-user"></i>
				<input type="text" class="form-control" placeholder="Username" required/>
				</div>
			</div>
	    </div>
		
		<div class="row">   
		     <div class="form-group col-xs-8 col-xs-push-2">
				<label class="control-label">Email address</label>
				<div class="inner-addon left-addon">
				<i class="fa fa-envelope"></i>
				<input type="email" class="form-control" placeholder="Email Address" required/>
				</div>
			</div>
	    </div>
	    
	    <div class="row">   
		     <div class="form-group col-xs-8 col-xs-push-2">
				<label class="control-label">Passwaord</label>
				<div class="inner-addon left-addon">
				<i class="fa fa-key"></i>
				<input type="password" class="form-control" placeholder="Passwaord" required/>
				</div>
			</div>
	    </div>	
	    
	    <div class="row">   
		     <div class="form-group col-xs-8 col-xs-push-2">
				<label class="control-label">Date of Birth</label>
				<div class="inner-addon left-addon">
				<i class="fa fa-calendar"></i>
				<input type="date" class="form-control" placeholder="Passwaord" required/>
				</div>
			</div>
	    </div>	
	    
	    <div id="field-of-interst" class="row">
		    <div class="col-xs-8 col-xs-push-2">
			    <div class="row">
				    <label class="control-label">Fields of Interest</label> 
			    </div>
			    <div class="row">
				    <div class="col-lg-2">
					    <span style=" width: 50%; height: 50%;">
				  		<img class="img-thumbnail" src="assets/img/interest-icon/icons_meitu_1.png"
				  		</span>
				    </div>
				    <div class="col-lg-2">
					    <label> Majors</label>	
				    </div>
				    <div class="col-lg-4 col-lg-push-1">
				    	<div class="dropdown">
						  <button class="btn btn-dropbox btn-wd dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Dropdown
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="#">Action</a></li>
						    <li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						  </ul>
						</div> 
				    </div>
				    <div class="col-lg-2 col-lg-push-2">
					    <button class="btn btn-success">ADD</button>
				    </div>  
			    </div>
			    <div class="space-30"></div>
			    
				 <div class="row">
				    <div class="col-lg-2">
					    <span style=" width: 50%; height: 50%;">
				  		<img class="img-thumbnail" src="assets/img/interest-icon/icons_meitu_4.png">
				  		</span>
				    </div>
				    <div class="col-lg-2">
					    <label> Sports</label>	
				    </div>
				    <div class="col-lg-4 col-lg-push-1">
				    	<div class="dropdown">
						  <button class="btn btn-dropbox btn-wd dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Dropdown
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="#">Action</a></li>
						    <li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						  </ul>
						</div> 
				    </div>
				    <div class="col-lg-2 col-lg-push-2">
					    <button class="btn btn-success">ADD</button>
				    </div>  
			    </div>
			    <div class="space-30"></div>
			    
			    <div class="row">
				    <div class="col-lg-2">
					    <span style=" width: 50%; height: 50%;">
				  		<img class="img-thumbnail" src="assets/img/interest-icon/icons_meitu_6.png">
				  		</span>
				    </div>
				    <div class="col-lg-2">
					    <label> Instruments</label>	
				    </div>
				    <div class="col-lg-4 col-lg-push-1">
				    	<div class="dropdown">
						  <button class="btn btn-dropbox btn-wd dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Dropdown
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="#">Action</a></li>
						    <li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						  </ul>
						</div>
				    </div>
				    <div class="col-lg-2 col-lg-push-2">
					    <button class="btn btn-success">ADD</button>
				    </div>  
			    </div>
			    <div class="space-30"></div>
			    
			    <div class="row">
				    <div class="col-lg-2">
					    <span style=" width: 50%; height: 50%;">
				  		<img class="img-thumbnail" src="assets/img/interest-icon/icons_meitu_10.png">
				  		</span>
				    </div>
				    <div class="col-lg-2">
					    <label> Developing</label>	
				    </div>
				    <div class="col-lg-4 col-lg-push-1">
				    	<div class="dropdown">
						  <button class="btn btn-dropbox btn-wd dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Dropdown
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="#">Action</a></li>
						    <li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						  </ul>
						</div>
				    </div>
				    <div class="col-lg-2 col-lg-push-2">
					    <button class="btn btn-success">ADD</button>
				    </div>  
			    </div>
			    <div class="space-30"></div> 
			    
			    
    			    			
		    </div>	
	    </div><!-- end of input form -->
	    <div class="row ">
		    

		    <div class="form-group col-xs-8 col-xs-push-2">
			    <label>Upload CV</label><br>
                <label class="inputfile"><input type="file" id="upload-cv">
                    <i class="fa fa-upload icon" color="gray" style="font-size:28px"></i> <span id="upload-cv-text" style="padding-left: 7px">Upload My CV</span>
                </label>
		    
		    </div>
		</div> 
		<div class="space-30"></div>

		<div class="row">
			<div class="form-group col-xs-8 col-xs-push-2">
			    <label>Upload Profile Picture</label><br>
		          <img src="assets/img/default-profile-pic.png" height="170" width="170" class="avatar img-rounded" alt="avatar">
		    	<div class="fileinput fileinput-new" data-provides="fileinput">
				
                <label class="inputfile"><input type="file" id="upload-cv">
                 <i class="fa fa-upload icon" color="gray" style="font-size:28px"></i>
                 <span id="upload-cv-text" style="padding-left: 7px">Upload My CV</span>
				</div>
			</div>
		</div>
		<div class="space-30"></div>
		
	    
	       
	    <div class="row" >
	    	<input  class="btn btn-success btn-fill center-block" type="submit" value="Submit">
    	</div>
	    
    </div> <!-- end container -->
</div> <!-- end main -->
        
</body>

  <script src="jquery/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
	<script src="bootstrap3/js/bootstrap.js" type="text/javascript"></script>
    <script src="assets/js/custom.js"></script>

</html>
