<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Importing the main-style headers -->
    <% include ../../partials/admin-style %>


</head>
<body>


<!-- Importing the main-style headers -->
<% include ../../partials/admin-sidenav %>

<div class = "container-fluid text-center">
    <div class="row content">
        <div class="col-sm-1"></div>



        <!-- Main COntent of the Page -->
        <div class="col-sm-10 text-left main-content" >
            <div class="searchResults">

            </div>

            <div class="mentorRequest">

            </div>




        </div><!-- ENd of main content of the page-->
        <div class="col-sm-1"></div>


    </div> <!-- End of row content -->
</div> <!-- End of container-fluid -->

<% include ../../partials/adminfooter %>

<script src="javascript/admin/commonview.js"></script>
<script src="javascript/admin/mentorrequestview.js"></script>
<script>
    $(function () {

    });
</script>

</body>
</html>

